# SERVER DIR
/server/node_modules
/server/dist
/server/.env
/server/.elasticbeanstalk/*
/server/.ebextensions/*
# /server/!.elasticbeanstalk/*.cfg.yml
# /server/!.elasticbeanstalk/*.global.yml

# CLIENT DIR
/client/node_modules
/client/dist