# SERVER DIR
/server/node_modules
/server/dist
/server/.env
/server/.elasticbeanstalk/*
/server/.ebextensions/*
!/server/.elasticbeanstalk/config.yml
!/server/.elasticbeanstalk/global.yml

# CLIENT DIR
/client/node_modules
/client/dist